
<section role="main" class="text-center mt-5">
    <h1 class="jumbotron-heading">Welcome to Hubert Boateng LLP.</h1>
    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
    </p>
</section>
<hr>
<div class="row">
  <div class="col">
    <section>
      <h3 class="jumbotron-heading">AnanseBot agent</h3>
      <p class="lead">
        <b>AnanseBot</b> is a Customer Service agent that interact with customer's of a business.
        With Ananse, there is no overhead of hiring Customer Service Reps, your customers experience
        the same top-notch customer experience as humans would have provided.
      </p>
      <p class="lead">Personalized agent - which means we develop <b>AnanseBot</b> specifically for your business or oganization needs</p>
    </section>
  </div>
  <div class="col">
    <section>
      <h3 class="jumbotron-heading">Kusai</h3>
      <p class="lead">
        AnanseBot is a Customer Service agent that interact with customer's of a business.
        With Ananse, there is no overhead of hiring Customer Service Reps, your customers experience
        the same top-notch customer experience as humans would have provided.
      </p>
    </section>
      <div class="chat-container"></div>
    
      <script src="https://npm-scalableminds.s3.eu-central-1.amazonaws.com/@scalableminds/chatroom@master/dist/Chatroom.js"></script>
      <script type="text/javascript">
        var chatroom = new window.Chatroom({
          host: "http://localhost:5005",
          title: "Chat with Mike",
          container: document.querySelector(".chat-container"),
          welcomeMessage: "Hi, I am Mike. How may I help you?",
          speechRecognition: "en-US",
          voiceLang: "en-US"
        });
        chatroom.openChat();
      </script>
  </div>
</div>


